.border {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 1px;
}
.circle {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
.grid-layout {
  display: grid;
  grid-template-columns: auto 150px 150px;
  margin-bottom: 10px;
  border: 0.5px solid gray;
  border-radius: 8px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
@media screen and (max-width: 576px) {
  .grid-layout {
    grid-template-columns: auto 100px 100px;
  }
}
@media screen and (max-width: 375px) {
  .grid-layout {
    grid-template-columns: auto 80px 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.food-Image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 8px;
}
@media screen and (max-width: 576px) {
  .food-Image {
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 320px) {
  .food-Image {
    height: 60px;
    width: 60px;
  }
}
@media screen and (max-width: 375px) {
  .food-Image {
    height: 60px;
    width: 60px;
  }
}

.dish-name {
  font-weight: bold;
  font-size: 20px;
}
.font-weight-2 {
  font-weight: 500;
}
.dish-description {
  color: gray;
  font-weight: 500;
  font-size: 10px;
}
.button-style {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: green;
  height: 30px;
  width: 80px;
  border-radius: 40px;
  color: white;
}
.button-change {
  background-color: transparent;
  border-style: none;
  color: white;
  cursor: pointer;
}
.dish-price {
  margin-left: 10px;
}
.color-red {
  color: red;
}
.color-blue {
  color: blue;
}
.text-display {
  font-weight: 500;
  font-size: 10px;
}
.calories {
  color: orange;
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .calories {
    font-size: 12px;
  }
}
.dish-text-container {
  display: flex;
  flex-direction: column;
}
.addtoCart {
  align-self: flex-start;
  height: 30px;
  width: 100px;
  margin-bottom: 10px;
  border: 1px solid rgb(58, 231, 11);
  border-radius: 5px;
  background-color: #008000;
  border-style: none;
  color: #fff;
}
